html {
  font-family: 'Helvetica Neue';
  padding: 0;
  margin: 0; }

body {
  margin: 0; }

.leftsection {
  width: 50%;
  heigth: 100vh;
  float: left;
  background-color: #ffffff; }
  .leftsection .padded {
    padding-left: 7%;
    padding-top: 5%; }

.rightsection {
  width: 50%;
  height: 100vh;
  float: left;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0575e6), to(#021b79));
  background-image: -webkit-linear-gradient(top, #0575e6, #021b79);
  background-image: -o-linear-gradient(top, #0575e6, #021b79);
  background-image: linear-gradient(to bottom, #0575e6, #021b79); }

#email, #pw {
  height: 50px;
  width: 100%;
  margin-bottom: 3%; }

.signupprimary {
  width: 100%;
  background-color: #0328b0;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.goback {
  color: #000;
  margin-top: 100px; }
