html 
    overflow-x: hidden
.topsection
    position: relative
    height: 100vh
    background-image: linear-gradient(to bottom, #0575e6, #021b79)
    clip-path: polygon(0 0,100% 0,100% 65%,0 calc(100% - 2vw))

    .headerSection
        margin-top: -20px
        color: #fefefe
        width: 80vw
        padding-top: 10px
        height: 10vh
        margin-left: 10vw

        .logoSection
            width: 30%
            height: 100%
            float: left

        .menuSection
            width: 70%
            height: 100%
            float: left

a:visited
    text-decoration: none

section
    margin-top: -17vw

.headupText
    transform: translate(20%, -275%)
    color: #fff
    width: 45%
    
    h1 
        font-size: 50px

.signup
    width: 27.5vw
    height: 65vh
    border-radius: 5px
    background-color: #fefefe
    float: right
    transform: translateY(-117.5%)
    margin-right: 10vw
    box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.3)
    text-align: center

.signupprimary
    padding-left: 25px
    padding-right: 25px
    padding-top: 10px
    padding-bottom: 10px
    background-color: #0328b0
    border-radius: 25px
    color: #ffffff
    margin-top: 7.5%

.signupprimary:hover
    color: #fff
    background-color: #032ec9
    text-decoration: none

.menu
    list-style-type: none
    margin: 0
    padding: 0
    padding-top: 15px
    overflow: hidden

    li
        float: right 

        a
            display: block
            color: white
            text-align: center
            padding: 14px 16px
            text-decoration: none
        
        a:hover 
            text-decoration: underline

.signinbutton
    border: 1px solid #fff
    padding-right: 10px
    padding-left: 10px
    border-radius: 25px
    margin-top: 4px
    margin-left: 13px

.signinbutton:hover
    background-color: #0580fa

.signinbutton>a 
    padding-top: 10px !important
    padding-bottom: 10px !important

.signinbutton>a:hover
    text-decoration: none !important

.leftsection
    width: 100%
    height: 100%
    background-color: #ffffff
    
.MissionSection
    width: 60%
    margin-left: 5%
    margin-top: 5%

.signature
    margin-top: 30px
    width: 200px

.quotesection
    height: 180px
    width: 100vw
    background-image: linear-gradient(to bottom, #0575e6, #021b79)
    background-position: center
    background-size: cover
    background-attachment: fixed
    margin-top: 50px
    text-align: center
    color: #f2f2f2
    padding-top: 30px

.belowSignature
    margin-left: .5%

.courseSection 
    padding-top: 22px
    text-align: center
    padding-bottom: 30px
    background-color: #ffffff

    p 
        padding-bottom: 40px

.customcolor
    color: #b3b3b3

.footer
    width: 100%
    background-color: #1a1a1a

.footerLeft
    padding-left: 5%
    width: 30%
    float: left
    color: #fefefe
    background-color: inherit

.footerRight
    width: 70%
    float: left
    background-color: inherit
    padding-right: 5%

.getStartedSection
    text-align: center

#menufooter
    transform: translateY(-10%)

#footerbutton:hover
    background-color: #262626

.footerLeft>h2
    transform: translateY(-10%)

.getStartedSection
    background-image: linear-gradient(to bottom, #0575e6, #021b79)
    background-position: center
    background-size: cover
    color: #f2f2f2
    padding-top: 10px
    padding-bottom: 35px
    
    p 
        padding-bottom: 15px

.signupbutton
    text-decoration: none
    color: #fefefe
    border: 1px solid #fff
    border-radius: 25px
    padding-top: 10px
    padding-bottom: 10px
    padding-right: 25px
    padding-left: 25px

.signupbutton:hover
    color: #fff
    background-color: #0328b0
    text-decoration: none

.card
    width: 300px
    height: 440px
    text-align: left
    border-radius: 10px
    box-shadow: 0px 0px 45px 2px rgba(0,0,0,0.35)
    display: inline-block
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 20px

    h2 
        margin-top: 15px

    img 
        max-width: 100%
        max-height: 100%
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        margin-bottom: -10px

    h2, h4, p 
        margin-left: 5px
        padding-right: 5px

#cardbutton 
    background-color: #1a1a1a //lighten on hover
    position: relative
    margin-left: 32.5%
    border: 0px

#cardbutton:hover
    background-color: #262626

.clearfix:after 
    content: "";
    display: table;
    clear: both;

.mainHeaderText
    transform: translate(10%, -1075%)
    font-size: 40px
    color: #ffffff


//edit section
.input--kaede
  display: block
  overflow: hidden
  margin: 1em auto 2em
  background: #EFEEEE

.input__field--kaede
  position: absolute
  top: 0
  right: 100%
  width: 60%
  height: 100%
  background: #fff
  color: #9DABBA
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)

.input__label--kaede
  z-index: 10
  display: block
  width: 100%
  height: 100%
  text-align: left
  cursor: text
  -webkit-transform-origin: 0% 50%
  transform-origin: 0% 50%
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)

.input__label-content--kaede
  padding: 1.5em 0

.input__field--kaede:focus, .input--filled .input__field--kaede
  -webkit-transform: translate3d(100%, 0, 0)
  transform: translate3d(100%, 0, 0)
  -webkit-transition-delay: 0.06s
  transition-delay: 0.06s

.input__field--kaede:focus + .input__label--kaede, .input--filled .input__label--kaede
  -webkit-transform: translate3d(180%, 0, 0)
  transform: translate3d(180%, 0, 0)
  pointer-events: none

@media screen and (max-width: 34em)
  .input__field--kaede:focus + .input__label--kaede, .input--filled .input__label--kaede
    -webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1)
    transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1)
    pointer-events: none

.input
  position: relative
  z-index: 1
  display: inline-block
  margin: 1em
  max-width: 350px
  width: calc(100% - 2em)
  vertical-align: top

.input__field
  position: relative
  display: block
  float: right
  padding: 0.8em
  width: 60%
  border: none
  border-radius: 0
  background: #f0f0f0
  color: #aaa
  font-weight: bold
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  -webkit-appearance: none
  &:focus
    outline: none

.input__label
  display: inline-block
  float: right
  padding: 0 1em
  width: 40%
  color: #6a7989
  font-weight: bold
  font-size: 70.25%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.input__label-content
  position: relative
  display: block
  padding: 1.6em 0
  width: 100%

.graphic
  position: absolute
  top: 0
  left: 0
  fill: none

.icon
  color: #ddd
  font-size: 150%

#name, #email, #pw, #pw2
    width: 90%
    height: 50px
    margin-left: 5%

// Responsiveness
@media screen and (max-width: 1024px)
    .headupText
        transform: translate(20%, -185%)
@media screen and (max-width: 769px)
    .signup
        width: 35vw
@media screen and (min-width: 1600px) and (max-width: 1920px)
    .headupText
        transform: translate(20%, -425%)
@media screen and (min-width: 1600px) and (max-width: 1920px)
    .MissionSection
        padding-top: 5%
@media screen and (min-width: 1600px) and (max-width: 1920px)
    .signupprimary
        margin-top: 5%
@media screen and (min-width: 1921px) and (max-width: 2560px)
    .headupText
        transform: translate(20%, -500%)
@media screen and (min-width: 1921px) and (max-width: 2560px)
    .MissionSection
        padding-top: 7%
@media screen and (min-width: 1921px) and (max-width: 2560px)
    .signupprimary
        margin-top: 0.2%
