doctype html
html
 head
  title codeCertain | Take your skills to the next level. 
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='Know basic syntax? Want to take your theoretical knowledge to a whole new practical layer? codeCertain takes you there.')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='/css/style.css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
 body 
  .topsection
    .headerSection
        .logoSection
            h2 codeCertain. 
        .menuSection
            ul.menu
                li.signinbutton
                    a(href='http://google.com') Sign In
                li
                    a(href='http://google.com') Courses
                li
                    a(href='#missionscroll') Mission
                li
                    a(href='http://google.com') Home
  .signup
  section.mission
    div#missionscroll.leftMissionSection
        h1 Practical learning to fuel innovation.
        h4 Working with conventional teaching practices causes an influx of theoretical learning, where students don't understand the real life applications of their learning.
        p At codeCertain our emphasis is on teaching the practical implications of programming to our users. Over the years, programming has become an essential skill to have. From scripting languages like JavaScript to data analysis with languages like Python & R, the impact that basic skills can have upon individuals is becoming more prominent.
        p The largest problem with conventional learning methods is that they don't allow for the development of real world skills. It's like knowing how a bicycle works, but not actually ever having ridden one. We offer practical learning by allowing our users to build applications similar to the ones they use on a day-to-day basis, and help them build their portfolios by connecting them to volunteer organisations.
        img.signature(src='https://i.imgur.com/oFFJPVL.png')
        p.belowSignature Founder, codeCertain
    .rightMissionSection
  .quotesection
     h2 Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
     p.customcolor - Martin Golding
  div#coursescroll.courseSection
    h1 Learn with us. 
    p We offer courses ranging from the beginner to more experienced levels. Always free. 
  #startedscroll.getStartedSection
    h1 Ready to get started?
    p Sign up today and start advancing your skills.
  .footer
    .footerLeft
         h2 codeCertain.
    .footerRight
        ul#menufooter.menu
            li.signinbutton
                a(href='http://google.com') Sign In
            li
                a(href='http://google.com') Courses
            li
                a(href='#missionscroll') Mission
            li
                a(href='http://google.com') Home
