doctype html
html
    head
        title codeCertain | Portal
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Know basic syntax? Want to take your theoretical knowledge to a whole new practical layer? codeCertain takes you there.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='css/style.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
    body
        .header
            .logoSection
                h2 codeCertain.
            .menuSection
                .profile
                    img(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/c7/c7978b758a5cc23d93e7edf560229a0387fa5e5a_full.jpg')
                .courses
                    a(href='courses.html') Courses